<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @photo.content_url if @photo.content? %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
